<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="This website will show generate lab environments">
        <meta name="keywords" content="terminal, web, lab">
        <title>AgnosticLP</title>
        <style>
            * {
                box-sizing: border-box;
            }
    
            .row::after {
                content: "";
                clear: both;
                display: table;
            }
    
            [class*="col-"] {
                float: left;
                padding: 15px;
            }
    
            {% for frame in frames %}
            .col-{{ frame.name }} {width: {{ frame.width }};}
            {% endfor %}
    
            html {
                font-family: "Lucida Sans", sans-serif;
            }
    
            .header {
            }
        </style>
    </head>  
    <body>
        <header>
        <div class="header">
        </div>
        </header>
        <main>
        <hr/>
        <div class="row">
            {% for frame in frames %}
            <span class="col-{{ frame.name }}">
                <iframe id="{{ frame.name }}"  src="{{ frame.url }}" width="100%" style="border:none;"></iframe>
                <script>
                height = "{{ frame.height }}".replace("%","")
                height = screen.height / 100 * height;
                document.getElementById("{{ frame.name }}").height= height;
                </script>
            </span>
            {% endfor %}
        </div>
        </main>
        <footer>
        </footer>
    </body>
</html>
